/* Tailwind CSS Base */
@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

/* Custom Variant for Dark Mode */
@custom-variant dark (&:is(.dark *));

/* Theme Variables (Light & Dark Mode) */
@import './theme-variables.css';

/* Base Styles */
@import './base.css';

/* Component Styles */
@import './toast.css';
@import './code-block.css';
@import './live2d.css';

/* Third-party libraries */
@import 'react-datepicker/dist/react-datepicker.css';
